@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body style */
body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: black; */
}

/* Main container */
.testimonial-container {
  position: relative;
  overflow: hidden;
  max-width: 1120px;
  width: 100%;
  background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 64px 110px 89px 110px;

  color: white;
}

.testimonial__shape{
  position: absolute;
  top: -20px;
  right: -40px;
}

/* Heading */
.testimonial__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 25px;
}

.line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
}

/* Testimonial content */
.testimonial-content {
  display: flex;
  align-items: center;
  justify-content:  center;
  gap: 110px;
  margin-top: 70px;
}

.customer-info {
  display: flex;
  align-items: center;
  gap: 33px;
}

.customer-info img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

.customer__name {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.customer__job {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* Quote text */
.quote {
  max-width: 420px;
  color: rgba(255, 255, 255, 0.90);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* Navigation arrows and dots */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}

.arrow {
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  transform: scale(1.2);
}

.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.3s;
}

